{% extends 'base.html' %}


{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Home</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae quae illo porro a ipsa excepturi molestias similique neque beatae! Accusantium, fugit earum nesciunt, sed aliquam nisi vel atque sit dignissimos sunt neque a officiis nihil odio quisquam placeat illo! Facere quaerat molestiae nam quae repellendus. Harum suscipit quia soluta molestias neque alias quisquam libero inventore aliquid optio. Architecto, porro repellat!
        </p>
        <div class="text-center">
            <a class="btn btn-secundary" href="/signin/"> SignIn</a>
            <a class="btn btn-dark" href="/signup/"> SignUp</a>
        </div>
    </section>
</main>

{% endblock %}
