{% extends 'base.html' %}


{% block content %}

<main class="container py-5">
    <div class="display-5 text-center">Tareas Completadas</div>


    <ol class="list-group list-group-numbered py-3">
        {% for task in tasks %}
        <a href="{% url 'task_detail' task.id %}" class="list-group-item d-flex justify-content-between align-items-start py-2">
          <div class="ms-2 me-auto">
            {% if task.important %}
                <div class="display-6 fw-bold text-success">{{ task.title }}</div>
            {% else %}
                <div class="display-6 fw-bold">{{ task.title }}</div>
            {% endif %}
            
            {{ task.description }}
          </div>
          <div >
                <form action="{% url 'task_deleted' task.id %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-danger btn-sm rounded-pill">
                        <i class="fa-sharp fa-solid fa-trash-can"></i>
                    </button>
                </form>
            </div>
            
            
        </a>
        {% endfor %}
            
        
        
</main>



{% endblock %}