{% extends 'base.html' %}


{% block content %}
<h2>TASK</h2>

<a href="{% url 'create_task' %}">Create task</a>
<ul>
    {% for task in tasks %}
    
        <a href=" {% url 'task_detail' task.id %} ">
            <li>
            {% if task.important %}
        <h3><strong>{{ task.title }}</strong> </h3>
        {% else %}
        <h3>{{ task.title }}</h3>
        {% endif %}
        
        <p>{{ task.description }}</p>
    </li>
        </a>
        <form action="{% url 'task_deleted' task.id %}" method="POST">
            {% csrf_token %}
            <button>
                eliminar
            </button>
        </form>
        
    
    
    {% endfor %}
</ul>

{% endblock %}